<app-navbar></app-navbar>

<div class="bottom">
    <div><h2>{{title}}</h2></div>
    <form  #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)" class="signUp" id="Sign-Up">
        <div class="fName">
            <label for="userName">Username</label><br>
            <input ngModel type="text" name="userName" id="userName" placeholder="Enter Your Username" required><br>
        </div> 
        <div class="emailDiv">
            <label for="email">Email</label><br>
            <input ngModel type="email" name="email" id="email" placeholder="Email address"  >
        </div>
        <div class="pd">
            <label for="pwd">Password</label><br>
            <input ngModel type="password" name="Password" id="password" placeholder="Password"><br>
        </div> 
        <div class="createUserDiv">
            <p id="terms">By signing up, I agree to the Terms of Use and Privacy Policy</p>
            <input ngModel type="submit" value="Register" id="submit">
        </div>
        <div class="navLogin">
            <a routerLink="/login">Already have an account?<span id="loginLink">Login</span></a>
        </div>
    </form>

</div>

